<div class="about__section">
  <div class="logo"><i class="fab fa-connectdevelop fa-8x"></i></div>
  <div class="content">
    <p>
      This Web app (ECE MJCET CONNCET v1.0) is created for the purpose of
      benefitting all the students of ECE Branch MJCET. As all the students are
      in need of proper guidance to make a career in any field. This Web app can
      help <b>Connect</b> the students with all the Alumni who are currently
      working and have experiences to share inorder to groom, properly guide the
      upcoming graduates.
    </p>
  </div>
  <a class="ff" href="https://forms.gle/TpYpwPmBLXmGBfWA7" target="_blank"
    >Feedback Form</a
  >
</div>
