.navbar-custom {
  background-color: black;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
li a:hover:after {
  width: 100%;
  left: 0;
}
li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover {
  color: rgb(130, 130, 211);
  cursor: pointer;
}
.active {
  color: rgb(130, 130, 211);
}
i:hover {
  color: rgb(130, 130, 211);
}
.ham {
  float: right;
}
